{% extends "advancehomerealestatesapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<div class="card">
<div class="card-body">
<div class="listing-image">
<div class="column">
<img src="{{ item.property_listing_pic1.url }}" alt="property image" width="250" height="200" />
</div>
</div>




</div>

<script src="{% static 'listings.js' %}"></script>

{% endblock %}