{% extends "advancehomerealestatesapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<script src="{% static 'listings.js' %}"></script>
<body>
<br><br>
<div class="container">
    {% if request.user.is_staff %}
    <div class="row">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" onclick="addListing()">
          Add Listings
        </button>
    </div>
    {% endif %}
    <br>
    <div class="row">

        <div id="allListings" class="row gx-5">
            {% for i in data %}

            <div class="card p-2 mx-auto mb-10" style="width: 23rem;">

                <image src="{% static '/'|add:i.property_listing_pic1 %}" class="property-image" alt="Property image"  width="350"
     height="250">

                </image>

                  <div class="card-body">

                      <p class="card-title" style="color= green">&bullet; {{i.property_listing_status}}</p>

                    <h5 class="card-title" style="font-weight: bold">${{i.property_listing_price}}</h5>
                    <p class="card-text">{{i.listing_description}}</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{i.property_listing_street}}, {{i.property_listing_city}},{{i.property_listing_state}}, {{i.property_listing_zipcode}}</li>

                      <!--
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>-->
                  </ul>

                {% if request.user.is_staff %}
                  <div class="card-footer">
                      <a href="#" class="card-link btn-primary" onclick="editListing({{i.property_listing_id}})">Edit Listing</a>
                      <a href="#" class="card-link btn-danger" onclick="deleteListing({{i.property_listing_id}})">Delete Listing</a>
                  </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade addListingsModal" id="addListingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Listings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="form">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="listingDate">Listing Date</label>
                </div>
                <div class="col-md-8">
                    <input id="listingDate" class="form-control" type="text" placeholder="YYYY-MM-DD">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="addressStreet">Street</label>
                </div>
                <div class="col-md-8">
                    <input id="addressStreet" class="form-control" type="text">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="addressCity">City</label>
                </div>
                <div class="col-md-8">
                    <input id="addressCity" class="form-control" type="text">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="addressState">State</label>
                </div>
                <div class="col-md-8">
                    <input id="addressState" class="form-control" type="text">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="addressZipCode">ZipCode</label>
                </div>
                <div class="col-md-8">
                    <input id="addressZipCode" class="form-control" type="text">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="listingPrice">Listing Price</label>
                </div>
                <div class="col-md-8">
                    <input id="listingPrice" class="form-control" type="number">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="listingDescription">Listing Description</label>
                </div>
                <div class="col-md-8">
                    <textarea id="listingDescription" class="form-control"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="listingStatus">Listing Status</label>
                </div>
                <div class="col-md-8">
                    <input id="listingStatus" class="form-control" type="text">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="featuredPropertyIndicator">Featured Property Indicator</label>
                </div>
                <div class="col-md-8">
                    <input id="featuredPropertyIndicator" class="form-control" type="text">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="priceRange">Price Range</label>
                </div>
                <div class="col-md-8">
                    <input id="priceRange" class="form-control" type="text">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="neighbourhood">Neighbourhood</label>
                </div>
                <div class="col-md-8">
                    <input id="neighbourhood" class="form-control" type="text">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="propertyType">Property Type</label>
                </div>
                <div class="col-md-8">
                    <input id="propertyType" class="form-control" type="text">
                </div>
            </div>
            <input id="propertyId" class="form-control" type="hidden">

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="propertyImage1">Property Image q</label>
                </div>
                <div class="col-md-8">
                    <input id="propertyImage1" class="form-control" name="propertyImage1" type="file">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="propertyImage2">Property Image q</label>
                </div>
                <div class="col-md-8">
                    <input id="propertyImage2" class="form-control" name="propertyImage2" type="file">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="propertyImage3">Property Image q</label>
                </div>
                <div class="col-md-8">
                    <input id="propertyImage3" class="form-control" name="propertyImage3" type="file">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="propertyImage4">Property Image q</label>
                </div>
                <div class="col-md-8">
                    <input id="propertyImage4" class="form-control" name="propertyImage4" type="file">
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="SaveListing()" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
{% endblock content %}