{% extends "advancehomerealestatesapp/base.html" %}
{% block content %}
{% load static %}
    <p class="question-text"> Search Listings</p>

    <form method="get" action="{% url 'listings:search_listings' %}">
        <table class="sendemail-table">
         {{ form.as_table }}
        </table>
        <div class="sendemail-button">
         <input type="submit"  value="Search">
    </div>
    </form>

    {% if listings %}
        <h2>Results:</h2>

        <ul>
            {% for listing in listings %}
                <li>
                    <a href="{% url 'listings:listing_detail' listing_id=listing.id %}">
                        <img src="{{ listing.image.url }}" alt="{{ listing.neighborhood }}" style="max-width: 100px; max-height: 100px;">
                    {{ listing.neighborhood }} - {{ listing.property_type }} - ${{ listing.price }}
                </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock  %}