<!-- listings/templates/listings/search_listings.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Search Listings</title>
</head>
<body>
    <h1>Search Listings</h1>

    <form method="get" action="{% url 'listings:search_listings' %}">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    {% if listings %}
        <h2>Results:</h2>

        <ul>
            {% for listing in listings %}
                <li>
                    <a href="{% url 'listings:listing_detail' listing_id=listing.id %}">
                        <img src="{{ listing.image.url }}" alt="{{ listing.neighborhood }}" style="max-width: 100px; max-height: 100px;">
                    {{ listing.neighborhood }} - {{ listing.property_type }} - ${{ listing.price }}
                </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
